@using MVCDataLayer.ViewModel
@model CreateEmployeeViewModel
@{
    ViewBag.Title = "CreateEmployee";
}
@{ 
    Layout = null;
}
<h2>CreateEmployee</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEmployee</title>
    <script>

        function ResetForm() {
            document.getElementById('TxtFNmae').value = "";
            document.getElementById('TxtLNmae').value = "";
            document.getElementById('TxtSalary').value = "";
        }
    </script>
</head>
<body>
    <div> 
        <form action="/Employee/SaveEmployee" method="post">
            @*
            First Name:<input type="text" id="TxtFName" name="FirstName" value="" /><br />
            Last Name:<input type="text" id="TxtLName" name="LastName" value="" /><br />
           Salary:<input type="text" id="TxtSalary" name="Salary" value="" /><br />
            <input type="submit" name="BtnSubmit" value="Save Employee"/>
                *@
            
            <table>
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        <input type="text" id="TxtFName" name="Firstname" value="@Model.FirstName"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("FirstName");
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        <input type="text" id="TxtLName" name="LastNmae" value="@Model.LastName"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("lastName");
                    </td>
                </tr>
                <tr>
                    <td>
                        Salary:
                    </td>
                    <td>
                        <input type="text" id="TxtSalary" name="Salary" value="@Model.Salary"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("salary");
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="BtnSubmit" value="Save Employee" />
                        <input type="submit" name="BtnSubmit" value="Cancel" />
                        <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
