@using HelloMVC.ViewModels
@model AnotherEmployeeListViewModel
@{
    ViewBag.Title = "EmployeeListView";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnotherEmployeeListView</title>
</head>
<body>
    Hello @Model.UserName
    <hr/>
    <div> 
        <table border="1">
            <tr>
                <th>Employee Nmae</th>
                <th>Salary</th>
            </tr>
            @foreach(AnotherEmployeeViewModel item in Model.MyEmployees)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td style="background-color:@item.SalaryColor">@item.Salary</td>
                </tr>
            }
        </table>
    </div>,
    <div>
        @foreach(AnotherEmployeeViewModel item in Model.MyEmployees)
            {
                <label>Employee Name</label>
                @Html.TextBox("Name",item.EmployeeName)
            <label>Salary:</label>
            @Html.TextBox("Salary",item.Salary)
        <br />    
        }
    </div>
</body>
</html>
